.hero {
  background-color: var(--clr-accent-t);
  position: relative;
  z-index: 1;
  padding-block: 12.5rem;
}

.hero__img {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.hero__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cover {
  background-color: var(--clr-accent-t);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero__text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.hero__text h1 {
  font-size: var(--fs-hero);
  word-wrap: balanced;
  margin-bottom: 1rem;
}

.hero__text p {
  font-size: var(--fs-subhero);
  color: var(--txt-400);
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 6rem;
}

@media (min-width: 65em) {
  .hero {
    padding-block: 15rem;
  }

 .hero__text {
    --fs-hero: 4em;
    --fs-subhero: 1.5em;
  }

  .buttons {
    flex-direction: row;
  }
}