.edit {
  position: fixed;
  inset: 0;
  background-color: var(--clr-edit);
  z-index: 10;
  isolation: isolate;
  display: grid;
  place-content: center;
}

.edit__container {
  background-color: #1c1c1c;
  border-radius: 4px;
  padding: 1rem;
  z-index: 11;
}

.edit__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.edit__header > div {
  display: flex;
  cursor: pointer;
}

.edit__img {
  margin-block: 1rem 0.5rem;
}

.edit__img img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.edit__container input + label {
  margin-top: 1rem;
}

.edit__container :is(label, input, textarea, select) {
  display: block;
  width: 100%;
}

.edit__container textarea {
  resize: vertical;
}

.edit__container :is(input:not([type="submit"]), textarea, select) {
  padding: 0.4em 0.75em;
  border: 0;
  border-radius: 8px;
  background-color: #d9d9d9;
  margin-top: 0.25rem;
  color: #111111;
}

.bottom {
  width: fit-content;
}

.bottom > input {
  padding: 0.5em 3em;
  background-color: transparent;
  border-color: #fff;
  color: #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 75ms ease-in;
  font-weight: bold;
  margin-top: 2rem;
}

.bottom > input:hover {
  background-color: var(--clr-accent);
  color: #fff;
}

.left {
  display: none;
}

.right {
  margin-top: 2rem;
}

.right label {
  font-weight: 700;
}

.right input {
  outline: none;
  background-color: var(--bg-item);
  border: none;
  color: var(--txt-white);
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
}

.red_btn {
  padding: 0.25em 1.5em;
  border: 2px solid var(--clr-btn-red);
  display: flex;
  width: max-content;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--clr-btn-red);
  margin-block: 3rem;
  border-radius: 8px;
  transition: background-color 125ms ease-in-out;
}

.red_btn:hover {
  background-color: rgba(244, 67, 54, 0.2);
}

.add_button {
  background-color: var(--clr-accent);
  color: var(--txt-white) !important;
  border-radius: 4px;
  padding: 0.5em;
  margin-bottom: 1rem;
}

.add_button:hover {
  background-color: var(--clr-accent-t);
  text-decoration: none !important;
}

@media (min-width: 65em) {
  .container {
    display: flex;
    align-items: flex-start;
    margin-top: 6rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding-right: 5rem;
    position: sticky;
    top: 7.5rem;
  }

  .left::before {
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--clr-accent);
    width: 0.15rem;
    height: 200%;
    border-radius: 1rem;
  }

  .left a {
    text-decoration: none;
    color: #aaa;
    padding-block: 0.5rem;
    transition: color 125ms ease-in-out;
  }

  .left a:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: var(--clr-accent);
    text-decoration-thickness: 2px;
  }

  .left a[data-active="active"] {
    color: #fff;
  }

  .logout {
    margin-top: 3rem;
    font-weight: 400;
  }

  .right {
    margin-top: unset;
    margin-left: 3rem;
    width: 50%;
  }

  .full_width_right {
    flex-grow: 1;
  }
}
