.container {
  overflow: hidden;
  width: 100vw;
  margin-block: 2rem;
  --margin-inline: 2.5%;
  --width: 95%;
  --max-ch: 18ch;
}

@media (min-width: 65em) {
  .container {
    width: 100%;
    --max-ch: 27ch;
  }
}
